<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406486554105-junhbt6bd37h7ujk6pg5shs86khjndvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406486554105-junhbt6bd37h7ujk6pg5shs86khjndvo</string>
	<key>API_KEY</key>
	<string>AIzaSyA08C0rP5LVW4u91NvmS1dBSLZEzwLMXKI</string>
	<key>GCM_SENDER_ID</key>
	<string>406486554105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fullCircle</string>
	<key>PROJECT_ID</key>
	<string>fullcircle-b6721</string>
	<key>STORAGE_BUCKET</key>
	<string>fullcircle-b6721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406486554105:ios:3857955f6dd2d929189928</string>
</dict>
</plist>